.container {
  max-width: 1255px;
  height: 700px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.amsterdam {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 200%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  animation: moveLeft 20s linear infinite;
  z-index: 1;
  display: flex;
}

.amsterdam-image {
  width: 50%;
}
.amsterdam-image svg {
  width: 100%;
  height: 100%;
}
.amsterdam-image:nth-child(2) {
  margin-left: -6px;
}

.velocity-1 svg {
  animation: moveLeft 50s linear infinite;
}
.velocity-2 svg {
  animation: moveLeft 45s linear infinite;
}
.velocity-3 svg {
  animation: moveLeft 40s linear infinite;
}
.velocity-4 svg {
  animation: moveLeft 35s linear infinite;
}
.velocity-5 svg {
  animation: moveLeft 30s linear infinite;
}
.velocity-6 svg {
  animation: moveLeft 25s linear infinite;
}
.velocity-7 svg {
  animation: moveLeft 20s linear infinite;
}
.velocity-8 svg {
  animation: moveLeft 15s linear infinite;
}
.velocity-9 svg {
  animation: moveLeft 10s linear infinite;
}
.velocity-10 svg {
  animation: moveLeft 5s linear infinite;
}


.dog {
  position: absolute;
  bottom: 8px;
  left: 20%;
  height: 175px;
  width: 370px;
  z-index: 2;
}

.dog svg {
  height: 100%;
  width: 100%;
}

@keyframes moveLeft {
  from {
    -webkit-transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-1255px);
  }
}
