.icons-col-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icons-col-col {
  flex-basis: 29%;
  max-width: 30%;
  text-align: center;
  padding: 1.5rem;
}

.paragraph--icon h3 {
  font-weight: bold;
}

.paragraph--icon .field--name-field-icon-text {
  max-width: 15rem;
  margin: auto;
}
